:root {
    --bg-color: #bdbdbde1;
    --text-color: #333333;
    --card-bg: #dbdbdb;
    --border-color: #e0e0e0;
    --primary-color: #34b479;  
    --hover-color: #23dbbc; 
}

[data-theme="dark"] {
    --bg-color: #1a1a1a;
    --text-color: #ffffff;
    --card-bg: #2d2d2d;
    --border-color: #404040; 
    --primary-color: #47da95; 
    --hover-color: #23dbb3; 
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 5px;
    color: var(--text-color);
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.theme-toggle:hover {
    background-color: var(--bg-color);
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 300px;
    height: auto;
}

.game-container {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
}

.game-card {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
}

.game-info h3 {
    color: var(--text-color);
}

.game-info p {
    color: var(--text-color);
}

.game-link {
    background-color: var(--primary-color);
}

.game-link:hover {
    background-color: var(--hover-color);
}

.category-title {
    color: var(--text-color);
    border-bottom: 2px solid var(--primary-color);
}

.footer {
    border-top: 1px solid var(--border-color);
    color: var(--text-color);
}

.footer-logo {
    height: 30px;
    margin-bottom: 10px;
} 